
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;
}
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-top: 1px;

}
/* header and navigation styles */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
  }
.banner-title {
  font-weight: 700;
  font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
