* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  padding-top: 1px;
}
/* header and navigation styles */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}

.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About section styles */
.about {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.section-description {
  font-size: 18px;

  color: #757575;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.about .info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What I do styles */
.what-i-do {
  margin-top: 130px;
  margin-bottom: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

/* Resume Styles */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .section-title{
  margin-bottom: 60px;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.resume .description {
  ont-weight: 400;
  font-size: 16px;
  color: #757575;
}
.resume-button {
  text-align: center;
}
/* contact styles */
.contact {
  margin-top: 130px;
  display: flex;
  gap: 100px;
  background-color: #FFF8F3;
  padding: 130px 220px;
}
.contact .section-title{
  text-align: left;
}
.contact input[type="text"], input[type="email"], textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
.contact a{
  text-decoration: none;
}
